{% extends "sidebar/main.html" %}
{% load static %}
{% block title %}Events{% endblock %}
{% block content %}
<div class="wrapper">
  <div class="sidebar" data-color="purple" data-background-color="black" data-image="css/assets/img/sidebar-2.jpg">
    <!-- Sidebar Logo -->
    <div class="logo">
      <a href="{% url 'dashboard' %}" class="simple-text logo-normal">DIU_CLUBS</a>
    </div>

    {% include 'sidebar/navbar.html' %}

    <!-- Content Area -->
    <div class="content">
      {% include "sidebar/message.html" %}
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header d-flex justify-content-between align-items-center" style="background-color: #020f16; color: white;">
              {% if "admin" in user.username %}
              <nav style="--bs-breadcrumb-divider: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%278%27 height=%278%27%3E%3Cpath d=%27M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z%27 fill=%276c757d%27/%3E%3C/svg%3E');" aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                  <li class="breadcrumb-item">
                    <a href="{% url 'event' %}" 
                      style="color: {% if request.resolver_match.url_name == 'event' %}white{% else %}#6c757d{% endif %}; font-size: 1.2rem;">
                      Event Dashboard
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page" 
                      style="color: {% if request.resolver_match.url_name == 'event_management' %}white{% else %}#6c757d{% endif %}; font-size: 1.2rem;">
                    <a href="{% url 'event_management' %}" style="color: inherit; text-decoration: none;">
                        Event Management
                    </a>
                  </li>
                </ol>
              </nav>

              {% else %}
              <h3 class="card-title" style="color:white;">Events</h3>
              {% endif %}
              <div>
                {% if "admin" not in user.username %}
                {% if club_list|length > 1 %}
                <!-- Dropdown for Non-admin Users -->
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Events
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="filterValues">
                    <a class="dropdown-item" href="#" data-value="All Events">All Events ({{all_events}})</a>
                    {% for club,total in club_list %}
                    <a class="dropdown-item" href="#" data-value="{{club}}">{{club}} ({{total}})</a>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
                {% endif %}
                

                {% if "admin" in user.username %}
                <!-- Button for Admins to Add Event -->
                <button type="button" class="btn" style="background-color: #212f3c; color: white;" data-toggle="modal" data-target="#exampleModal">
                  Add New Event
                </button>
                {% endif %}
              </div>
            </div>

                <!-- Card Body -->

              <div class="card-body">
                <div class="container">
                  <div class="row" id="all_events">
                    
                  </div>
                  <div class="container" id="search_results" style="display: none;"></div> <!-- Added 'style="display: none;"' -->
                </div>
              </div>


              <!-- Preview Modal for Event Details -->
              {% for event in events %}
              <div class="modal fade" id="previewModal-{{ event.id }}" tabindex="-1" aria-labelledby="previewModalLabel-{{ event.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="background-color:black; color: white;">
                    <div class="modal-header">
                      <h5 class="modal-title" id="previewModalLabel-{{ event.id }}">{{ event.event_name }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:white">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- Carousel for Images in Modal -->
                      <div id="modal-carousel-{{ event.id }}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{ event.event_image1.url }}" class="d-block w-100" alt="Event Image 1">
                          </div>
                          <div class="carousel-item">
                            <img src="{{ event.event_image2.url }}" class="d-block w-100" alt="Event Image 2">
                          </div>
                          <div class="carousel-item">
                            <img src="{{ event.event_image3.url }}" class="d-block w-100" alt="Event Image 3">
                          </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#modal-carousel-{{ event.id }}" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#modal-carousel-{{ event.id }}" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div><br>
                      <div style="position: relative; left:295px;overflow:hidden;">
                        <h2><b>{{ event.event_name }}</b></h2><br>
                      </div>
                      <div class="d-flex">
                        <!-- Left side for event description -->
                        <div class="left-side" style="flex: 1; padding-right: 20px;">
                          
                          <p style="text-align: justify;">{{ event.event_description }}</p>
                        </div>

                        <!-- Vertical Line -->
                        <div class="vertical-line" style="width: 1px; background-color: #000; margin-top: 20px;"></div>

                        <!-- Right side for other details -->
                        <div class="right-side" style="flex: -2.5; padding-left: 10px;">
                          <p><strong>Date:</strong> {{ event.event_date }}</p>
                          <p><strong>Time:</strong> {{ event.event_time }}</p>
                          <p><strong>Club:</strong> {{ event.event_club }}</p>
                          <p><strong>Location:</strong> {{ event.event_location }}</p>
                          <p><strong>Event Link:</strong> <a href="{{ event.event_link }}" target="_blank">{{ event.event_link }}</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                      {% if "admin" in request.user.username %}
                        <a class="btn btn-danger" href="{% url 'delete_event' event.id %}" id="delete_button" role="button">
                          <i class="material-icons"></i>Delete
                        </a>
                      {% else %}
                      <form method="post" action="{% url 'event_attendee' event.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Attend</button>
                      </form>
                      {% endif %}
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}




              <!-- Add Notice Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="color: black;">
                    <div class="modal-header mt-3">
                      <h5 class="modal-title" id="modalLabel">EVENT INFO</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="EventForm" method="post" action="{% url 'event' %}" enctype="multipart/form-data">
                          {% csrf_token %}
                          
                          <!-- Event Name and Description Fields -->
                          <div class="mb-3">
                              <label for="name" style="color: gray;">Event Name</label>
                              {{ form.event_name }}<br>
                              <label for="description" style="color: gray;">Event Description</label>
                              {{ form.event_description }}
                          </div>

                          <!-- Event Date and Time Fields -->
                          <div class="row">
                              <div class="col-md-6 mb-3">
                                  <label for="event_date" style="color: gray;">Event Date</label>
                                  {{ form.event_date }}
                              </div>
                              <div class="col-md-6 mb-3">
                                  <label for="event_time" style="color: gray;">Event Time</label>
                                  {{ form.event_time }}
                              </div>
                          </div>

                          <!-- Event Link and Club Fields Side by Side -->
                          <div class="row">
                              <div class="col-md-6 mb-3">
                                  <label for="event_link" style="color: gray;">Event Link</label>
                                  {{ form.event_link }}
                              </div>
                              <div class="col-md-6 mb-3">
                                  <label for="event_club" style="color: gray;">Event Club</label>
                                  {{ form.event_club }}
                              </div>
                          </div>
                          
                          <!-- Event Image and Location Fields -->
                          <div class="row">
                              <div class="col-md-6 mb-3">
                                  <label for="event_image" style="color: gray;">Event Images<br></label>
                                  <div class="d-flex">
                                      <div class="mr-3">
                                          {{ form.event_image1 }}
                                      </div>
                                      <div class="mr-3">
                                          {{ form.event_image2 }}
                                      </div>
                                      <div class="mr-3">
                                          {{ form.event_image3 }}
                                      </div><br><br>
                                  </div>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label for="event_location" style="color: gray;">Event Location</label>
                              {{ form.event_location }}
                          </div>

                          <!-- Submit Button -->
                          <div class="modal-footer mt-5">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Event</button>
                          </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Modal -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/eventProperties_1.js' %}"></script>
{% endblock %}
