{% extends "sidebar/main.html" %} {% load static %} {% block title %}Events {% endblock %}
{% block content %}
<div class="wrapper">
  <div
    class="sidebar"
    data-color="purple"
    data-background-color="black"
    data-image="css/assets/img/sidebar-2.jpg">
    <!-- Sidebar Logo -->
    <div class="logo">
      <a href="{% url 'dashboard' %}" class="simple-text logo-normal"
        >DIU_CLUBS</a
      >
    </div>

    {% include 'sidebar/navbar.html' %}

    <!-- Content Area -->
    <div class="content">
      {% include "sidebar/message.html" %}
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div
              class="card-header d-flex justify-content-between align-items-center"
              style="background-color: #020f16; color: white">
              {% if "admin" in user.username %}
              <nav
                style="
                  --bs-breadcrumb-divider: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%278%27 height=%278%27%3E%3Cpath d=%27M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z%27 fill=%276c757d%27/%3E%3C/svg%3E');
                "
                aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                  <li class="breadcrumb-item">
                    <a
                      href="{% url 'event' %}"
                      style="color: {% if request.resolver_match.url_name == 'event' %}white{% else %}#6c757d{% endif %}; font-size: 1.2rem;">
                      Event Dashboard
                    </a>
                  </li>
                  <li
                    class="breadcrumb-item active"
                    aria-current="page"
                    style="color: {% if request.resolver_match.url_name == 'event_management' %}white{% else %}#6c757d{% endif %}; font-size: 1.2rem;">
                    Event Management
                  </li>
                </ol>
              </nav>
              {% else %}
              <h3 class="card-title">Events</h3>
              {% endif %}

              <!-- Dropdown for Non-admin Users -->
              {% if "admin" not in user.username %}
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  All Events
                </button>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton"
                  id="filterValues">
                  <li>
                    <a class="dropdown-item" href="#">All ({{all_events}})</a>
                  </li>
                  {% for club, total in club_list %}
                  <li>
                    <a class="dropdown-item" href="#"
                      >{{ club }} ({{ total }})</a
                    >
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}

              <!-- Button for Admins to Add Event -->
              {% if "admin" in user.username %}
              <button
                type="button"
                class="btn"
                style="background-color: #212f3c; color: white"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Add New Event
              </button>
              {% endif %}
            </div>

            <!-- Accordion Section -->
            <div class="accordion" id="accordionExample">
              {% for event in events %}
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-hide="true"
                      aria-controls="collapseOne"
                      style="color: white; font-size: 1rem">
                      {{ event.event }}
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseOne"
                  class="collapse hide"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">{{event.student.user.username|title}}</div>
                </div>
              </div>
              {% endfor %}
            </div>

            <!-- Add Event Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="modalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">EVENT INFO</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form
                      id="EventForm"
                      method="post"
                      action="{% url 'event' %}">
                      {% csrf_token %}
                      <div class="mb-3">
                        <label for="name" class="form-label">Event Name</label>
                        {{ form.event_name }}
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label"
                          >Event Description</label
                        >
                        {{ form.event_description }}
                      </div>
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <label for="event_date" class="form-label"
                            >Event Date</label
                          >
                          {{ form.event_date }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="event_time" class="form-label"
                            >Event Time</label
                          >
                          {{ form.event_time }}
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal">
                          Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                          Add Event
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of Modal -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap 5 and jQuery CDN -->

{% endblock %}
