{% extends "sidebar/main.html" %}
{% block title %}My Club{% endblock %}
{% block content %}
    <div class="wrapper">
      <div class="sidebar" data-color="purple" data-background-color="black" data-image="css/assets/img/sidebar-2.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
            DIU_CLUBS
          </a></div>
          {% include 'sidebar/navbar.html' %}
      <!-- End Navbar -->
<div class="content">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Clubs</h4>
                </div>
                <br><br>
                <div class="container">
                  <div class="row">
                      <table class="table table-striped table-dark">
                        <thead>
                          <tr>
                            <th scope="col">Sl</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Club Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for x in join_request %}
                          <tr>
                            <th scope="row">1</th>
                            <td>{{x.student.user.first_name}}</td>
                            <td>{{x.student.user.last_name}}</td>
                            <td>{{x.club.club_name}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


