{% extends "sidebar/main.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="css/assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          DIU_CLUBS
        </a></div>
      {% include 'sidebar/navbar.html' %}
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header bg-secondary">
                  <br><h3 class="card-title text-white"><strong>Profile of {{user.get_full_name}}</strong></h3><br>

                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row mb-1 bg-dark text-white">
                          {{ form.user }}
                          <div class="col-md-6">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">First Name</h5></strong></p>
                                  {{ form.first_name }}
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">Last Name</h5></strong></p>
                                  {{ form.last_name }}
                              </div>
                          </div>
                      </div>
                      <div class="row mb-1 bg-dark text-white">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">Student Id</h5></strong></p>
                                  {{ form.student_id }}
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">Email</h5></strong></p>
                                  {{ form.email }}
                              </div>
                          </div>
                      </div>
                      <div class="row mb-1 bg-dark text-white">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">Username</h5></strong></p>
                                  {{ user }}
                              </div>
                          </div>
                      </div>
                      <div class="row mb-1 bg-dark text-white">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">Address</h5></strong></p>
                                  {{ form.address }}
                              </div>
                          </div>
                      </div>
                      <div class="row mb-1 bg-dark text-white">
                          <div class="col-md-4">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">Phone Number</h5></strong></p>
                                  {{ form.phone_number }}
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">Department</h5></strong></p>
                                  {{ form.dept }}
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">Batch</h5></strong></p>
                                  {{ form.batch }}
                              </div>
                          </div>
                      </div>
                      <div class="row mb-1 bg-dark text-white">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <p><strong><h5 class="text-info">About You</h5></strong></p>
                                  {{ form.about_you }}
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                    <img class="img" src="{{form.profile_pic.value.url}}" />
                </div>
                <div class="card-body">
                  {% if "admin" in user.username %}
                  <h6 class="card-category">Admin</h6>
                  {% else %}
                  <h6 class="card-category">Member</h6>
                  {% endif %}
                  <h4 class="card-title">{{user.get_full_name}}</h4>
                  <p class="card-description">
                    {{form.profile_pic}}
                    {{form.about_you.value}}<br><br><br>
                    <button type="submit" class="btn btn-primary pull-center">Update Profile</button>
                  </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}