{% extends "sidebar/main.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="css/assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="{% url 'dashboard' %}" class="simple-text logo-normal">
          DIU_CLUBS
        </a></div>
      {% include 'sidebar/navbar.html' %}
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            {% for student in students  %}
            <div class="col-md-8">
              <div class="card">
                  <div class="card-header bg-secondary">
                    <br><h3 class="card-title text-white"><strong>Profile of {{student.user.get_full_name}}</strong></h3><br>
                      <div>
                        <a href="{% url 'user_edit' student.id %}" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit Profile</a>
                      </div>
                  </div>
                </div>
                
                <div class="card-body">
                  <div>
                    <div class="row row mb-1 bg-dark text-white">
                      <div class="col-md-6">
                        <div class="form-group">
                          <p><strong><h5 class="text-info">First Name</h5></strong></p>
                          <p>{{student.first_name}}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <p><strong><h5 class="text-info">Last Name</h5></strong></p>
                          <p>{{student.last_name}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-1 bg-dark text-white ">
                      <div class="col-md-6">
                        <div class="form-group">
                          <p><strong><h5 class="text-info">Student Id</h5></strong></p>
                          <p>{{student.student_id}}</p>
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-group">
                          <p><strong><h5 class="text-info">Email</h5></strong></p>
                          <p>{{student.email}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row row mb-1 bg-dark text-white">
                      <div class="col-md-12  ">
                          <div class="form-group">
                              <p><strong><h5 class="text-info">Username</h5></strong></p>
                              {{ user}}
                          </div>
                      </div>
                    </div>
                    <div class="row row mb-1 bg-dark text-white">
                      <div class="col-md-12  ">
                        <div class="form-group">
                          <p><strong><h5 class="text-info">Address</h5></strong></p>
                          <p>{{student.address}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row row mb-1 bg-dark text-white">
                      <div class="col-md-4  ">
                        <div class="form-group">
                          <p><strong><h5 class="text-info">Phone Number</h5></strong></p>
                          <p>{{student.phone_number}}</p>
                        </div>
                      </div>
                      <div class="col-md-4  ">
                        <div class="form-group">
                          <p><strong><h5 class="text-info">Department</h5></strong></p>
                          <p>{{student.dept}}</p>
                        </div>
                      </div>
                      <div class="col-md-4 ">
                        <div class="form-group">
                          <p><strong><h5 class="text-info">Batch</h5></strong></p>
                          <p>{{student.batch}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <img class="img" src="{{ student.profile_pic.url }}">
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{student.user.get_full_name}}</h4>
                  {% if "admin" in user.username %}
                  <h6 class="card-category">Admin</h6>
                  {% else %}
                  <h6 class="card-category">Member</h6>
                  {% endif %}
                  <p class="card-description">
                    {{student.about_you}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}