{% extends "sidebar/main.html" %} 
{% load static %}
{% load custom_filter %}
{% block title %}Notices{% endblock %} 
{% block content %}
<div class="wrapper">
  <div class="sidebar" data-color="purple" data-background-color="black" data-image="css/assets/img/sidebar-2.jpg">
    <div class="logo">
      <a href="{% url 'dashboard' %}" class="simple-text logo-normal">DIU_CLUBS</a>
    </div>
    {% include 'sidebar/navbar.html' %}
    <div class="content">
      <div class="container-fluid">
        {% include "sidebar/message.html" %}
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary d-flex justify-content-between align-items-center">
                <h3 class="card-title">Notices</h3>
                <div>
                  {% if clubs_with_notices|length > 1 %}
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      All Notices
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="filterValues">
                      <a class="dropdown-item" href="#" data-value="All">All ({{all_notices}})</a>
                      {% for club, total in clubs_with_notices %}
                      <a class="dropdown-item" href="#" data-value="{{ club }}">{{ club }} ({{total}})</a>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                  {% if "admin" in user.username %}
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                      Add Notice
                    </button>
                  {% endif %}
                </div>
              </div>
              <div class="card-body">
                <div class="container">
                  <div class="row" id="result_notices"> </div>
                </div>

                <!-- Preview Modal -->
                <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: black; color: white;">
                      <div class="modal-header">
                        <h5 class="modal-title" id="previewModalLabel">Notice Preview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4 id="preview-title" class="font-weight-bold text-white"></h4>
                        <p id="preview-description" class="text-white"></p>
                        <p class="text-muted">
                          <span id="preview-club" class="text-white"></span> | <span id="preview-time" class="text-white"></span>
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Add Notice Modal -->
                <div class="row">
                  <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add New Notice</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form class="bg-black" action="{% url 'notice' %}" method="POST">
                              {% csrf_token %}
                              <div class="form-group">
                                <input type="text" class="form-control" name="title" placeholder="Notice Title" style="color: black" required />
                              </div>
                              <div class="form-group">
                                <textarea class="form-control" name="description" placeholder="Description" rows="3" style="color: black" required></textarea>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/noticeProperties.js' %}"></script>



{% endblock %}
